$color-tq: #37c3be;
$color-drpurp: #20109a;
$color-mdpurp: #2d208f;
$color-ltpurp: #3c2abf;
$color-pinkish: #fa4359;
$color-whitish: #fefefe;

//PAGE SETUP

table, form{
	width: 100%;
}
input{
	width: 150px;
}
small{
	float: left;
}
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[name='cost']{
	width: 100px;
}
col:nth-child(2),col:nth-child(3){
	width: 140px;
}
col:nth-child(5){
	width: 40px;
	text-align: center;
}

//STYLES 
h1, h2, h3, h4{
	color: $color-drpurp;
}

body{
	background: url('assets/css/bg.svg');
}

